* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.label-input-inline {
    display: flex;
    align-items: center;
    gap: 15px;
    text-transform: capitalize;
}

.label-input-inline label {
    margin: 10px;
}

.FormEndereco {
    margin-left: 5%;

}

.btnConfimar {
    margin: 2% 0% 0% 20%;
    text-transform: capitalize;
    box-shadow: 2px 2px 4px rgba(70, 68, 68, 0.5);
}